body {
  font-family: Arial, sans-serif;
  text-align: center;
  background-color: beige;
  margin: 0;
  padding: 0;
}
body:hover {
  background-color: white;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-content {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

a {
  display: block;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}
.profile img {
  width: 100px;
  border-radius: 50%;
  margin: 0 auto 10px;
}

.profile h1 {
  font-size: 20px;
  margin: 0;
}
.info div {
  font-size: 18px;
  margin: 10px 0;
}

a.github-url {
  display: inline-block;
  font-size: 18px;
  margin-top: 20px;
  text-decoration: none;
  color: #007bff;
}

a.github-url:hover {
  color: #fa0606;
}
a:hover {
  background-color: #007bff;
}
